<h1><%= @user.name %>のページ</h1>

<p>email:<%= @user.email %></p>
<p>avatar: <%= image_tag @user.avatar.url %></p>

<% if current_user.id == @user.id %>
   <%= link_to 'Profileを編集する',edit_user_path(@user.id) %>
<% end %>
