<h2></h2>
<table>
    <tr>
        <th>Content</th>
        <th>Image</th>
    </tr>
    
    <% @pictures.each do |picturee| %>
    
    <tr>
        <td><%= picture.content %></td>
        <td><%= picture.image %></td>
        <td><%= link_to '詳細',picture_path(picture.id) %></td>
        <td><%= link_to '編集',edit_picture_path(picture.id) %></td>
    </tr>
    <% end %>
</table>
